<script>
/* ================= NAVBAR SCRIPT ================= */

const navbar = document.querySelector(".main-navbar");
const menuToggle = document.getElementById("mobile-menu");
const navLinks = document.querySelector(".nav-links");

// Scroll Effect
window.addEventListener("scroll", () => {
    if(window.scrollY > 50){
        navbar.classList.add("scrolled");
    } else {
        navbar.classList.remove("scrolled");
    }
});

// Mobile Toggle
menuToggle.addEventListener("click", () => {
    navLinks.classList.toggle("active");
});
</script>